sign-in {
  display: block;
  height: 100%;
}

#login {
  min-height: 100%;
  background: url(/assets/images/backgrounds/sign-in-bg.jpg) no-repeat;
  background-size: cover;
}

#login #login-form-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding: 32px
}

#login #login-form-wrapper #login-form {
  width: 384px;
  max-width: 384px;
  padding: 32px;
  background: #FFF;
  text-align: center
}

#login #login-form-wrapper #login-form .logo {
  width: 128px;
  font-weight: 500;
  margin: 32px auto;
  color: #FFF;
  border-radius: 2px
}

#login #login-form-wrapper #login-form .title {
  font-size: 17px;
  margin: 16px 0 32px
}

#login #login-form-wrapper #login-form form {
  width: 100%;
  text-align: left
}

#login #login-form-wrapper #login-form form md-checkbox {
  margin: 0
}

#login #login-form-wrapper #login-form form .remember-forgot-password {
  font-size: 13px;
  margin-top: 8px
}

#login #login-form-wrapper #login-form form .remember-forgot-password .remember-me {
  margin-bottom: 16px
}

#login #login-form-wrapper #login-form form .remember-forgot-password .forgot-password {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 16px
}

#login #login-form-wrapper #login-form form .submit-button {
  width: 220px;
  margin: 16px auto;
  display: block
}

#login #login-form-wrapper #login-form .register {
  margin: 32px auto 24px;
  width: 250px;
  font-weight: 500
}

#login #login-form-wrapper #login-form .register .text {
  margin-right: 8px
}

#login #login-form-wrapper #login-form .separator {
  font-size: 15px;
  font-weight: 600;
  margin: 24px auto 16px;
  position: relative;
  overflow: hidden;
  width: 100px;
  color: rgba(0, 0, 0, .54)
}

#login #login-form-wrapper #login-form .separator .text {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  padding: 0 8px;
  z-index: 9999
}

#login #login-form-wrapper #login-form .separator .text:after, #login #login-form-wrapper #login-form .separator .text:before {
  content: '';
  display: block;
  width: 30px;
  position: absolute;
  top: 10px;
  border-top: 1px solid rgba(0, 0, 0, .12)
}

#login #login-form-wrapper #login-form .md-button.facebook, #login #login-form-wrapper #login-form .md-button.google {
  width: 192px;
  text-transform: none;
  color: #FFF;
  font-size: 13px
}

#login #login-form-wrapper #login-form .md-button.facebook md-icon, #login #login-form-wrapper #login-form .md-button.google md-icon {
  color: #FFF;
  margin: 0 8px 0 0
}

#login #login-form-wrapper #login-form .md-button.google {
  background-color: #D73D32
}

#login #login-form-wrapper #login-form .md-button.facebook {
  background-color: #3f5c9a
}

#login-v2, #register {
  background: url(/assets/images/backgrounds/march.jpg) no-repeat
}

@media screen and (max-width: 768px) {
  #login #login-form-wrapper {
    padding: 16px
  }
  #login #login-form-wrapper #login-form {
    padding: 24px;
    width: 100%
  }
  #login #login-form-wrapper #login-form form .md-button {
    width: 90%
  }
  #login #login-form-wrapper #login-form .md-button.facebook, #login #login-form-wrapper #login-form .md-button.google {
    width: 80%
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  #login #login-form-wrapper {
    padding: 0
  }
}

.term-conditions {
  font-size: 12px;
}

.sign-in-page #main {
  max-width: 100% !important;
}
