
  <div class="title">
      <span class="intro">Emerger Health Consultants LLC</span>
      <span class="intro">Privacy Policy</span>
  </div>

  <div class="content">

    <div>

      <p>
        Emerger Health Consultants LLC (“EHC”) is committed to safeguarding the private informationentrusted to us by our clients.
        This policy outlines the principles and practices we follow in protecting your private information.
      </p>

      <p>
        This policy applies to EHC and to any person providing services on our behalf. A copy of this policy is provided to any client on request.
      </p>

      <p>
        <b>What is private information?</b>
        <br/>
        <span>Private information means information about an identifiable individual or entity.</span>
      </p>

      <p>
        <b>What private information do we collect?</b>
        <br/>
        <span>
        We collect only the private information that we need for the purposes of providing services to our clients.
        We normally collect client private information directly from our clients. We may collect your information from other persons with your consent or as authorized by law.
      </span>
      </p>

      <p>
        We inform our clients, before or at the time of collecting private information, of the purposes for which we are collecting the information.
        The only time we don’t provide this notification is when a client volunteers information for an obvious purpose.
      </p>

      <p>
        <b>Consent</b>
        <br/>
        <span>
        We ask for consent to collect, use or disclose client private information.
        We may assume your consent in cases where you volunteer information for an obvious purpose.We assume your consent to continue to use and,
        where applicable, disclose private information that we have already collected, for the purpose for which the information was collected.
      </span>
      </p>

      <p>
        A client may withdraw consent to the use and disclosure of private information at any time, unless the private information is necessary for us to fulfill our legal obligations.
        We will respect your decision, but we may not be able to provide you with certain products and services if we do not have the necessary private information.
      </p>

      <p>
        We may collect, use or disclose client private information without consent only as requiredby law.
      </p>

      <p>
        <b>How do we use and disclose privateinformation?</b>
        <br/>
        <span>
        We use and disclose client private information only for the purpose for which the information was collected, except as authorized by law.
        For example, we may use client contact information to deliver services.
        If we wish to use or disclose your private information for any new business purpose, we will ask for your consent
      </span>
      </p>

      <p>
        <b>How we share client information with non-affiliated third parties:</b>
        <br/>
        <span>We don’t share information about our customers or former customers with non-affiliated third parties</span>
      </p>

      <p>
        <b>How do we safeguard private information?</b>
        <br/>
        <span>
        We make every reasonable effort to ensure that private information is accurate and complete.
        We protect private information in a manner appropriate for the sensitivity of the information.
        We make every reasonable effort to prevent any loss, misuse, disclosure or modification of private information, as well as any unauthorized access to private information.
        We use appropriate security measures when destroying private information, including shredding paper records and permanently deleting electronic records.
        We retain private information only as long as is reasonable to fulfill the purposes for which the information was collected or for legal or business purposes.
      </span>
        <br />
        <span>
        We restrict access to private information about ourclients and former clients to those employees who need to know that information in order to assist in providing services or products to the customer.
        We will punish any employees who impermissibly share client information.
      </span>
      </p>
      <p>
        <b>Questions and complaints</b>
        <br />
        <span>
        If you have a question or concern about any collection, use or disclosure of private information by EHC of organization please contact Andrew Goldberg, Chief Financial Officer at 570.687.0589 or andy@emergerhealth.com
      </span>
      </p>
    </div>

  </div>


