<form [formGroup]="frm"
      (ngSubmit)="onSave(frm.value)"
      name="frm"
      novalidate="">
  <div class="dialog-scrollable">
    <div>
      <md-select placeholder="Shortcode" name="shortcode" formControlName="shortcode" class="w-full" required="">
        <md-option *ngFor="let sc of shortcodes" [value]="sc._id">
          {{sc.code}}
        </md-option>
      </md-select>
    </div>

    <md-input-container class="md-block" md-no-float>
      <input mdInput required
             uppercase
             type="text"
             placeholder="Keyword"
             formControlName="keyword"/>
      <md-hint *ngIf="formErrors.keyword && !frm.get('keyword').hasError('notAvailable')" [ngStyle]="{'color': 'red'}">
        {{formErrors.keyword}}
      </md-hint>
      <md-hint *ngIf="frm.get('keyword').hasError('notAvailable') && frm.get('keyword').dirty"
               [ngStyle]="{'color': 'red'}">
        {{validationMessages.keyword.notAvailable}}
      </md-hint>
    </md-input-container>

    <md-input-container class="md-block" md-no-float>
      <input mdInput required
             uppercase
             type="text"
             placeholder="Confirm"
             formControlName="confirm"/>
      <md-hint *ngIf="formErrors.confirm" [ngStyle]="{'color': 'red'}"> {{formErrors.confirm}}</md-hint>
    </md-input-container>

    <h4>Requirements:</h4>
    <ul>
      <li>Keyword must be available or released.</li>
      <li>Keyword must be alphanumeric. No punctuations or special characters.</li>
      <li>Keyword must be at least 3 characters long and no longer than 20 characters.</li>
      <li>Reserved words that are unavailable include <b>STOP</b>, <b>STOPALL</b>, <b>HELP</b>, <b>UNSUBSCRIBE</b>,
        <b>YES</b>,
        <b>NO</b>, <b>CANCEL</b></li>
    </ul>
  </div>
  <kendo-dialog-actions>
    <a class="k-button" (click)="onCancel()">CANCEL</a>
    <button class="k-button k-primary" [disabled]="!frm.valid || submitted">
      RESERVE
    </button>
  </kendo-dialog-actions>

</form>
