<footer class="appFooter">
  <a routerLink=""><img width="100" src="assets/images/logos/Emerger_logo.png"/>
  </a>
  <div>
    <a routerLink="/page/terms-and-conditions" target="_blank">Terms and Conditions</a>
    <span class="separate-line">|</span>
    <a routerLink="/page/privacy-policy" target="_blank">Privacy Policy</a>
    <span class="separate-line">|</span>
    <a href="mailto:support@emergerhealth.com?Subject=SMS%20Platform%20Support">Support</a>
    <!--<span class="separate-line">|</span>-->
    <!--<a routerLink="/page/about-us" target="_blank">About Us</a>-->
    <p>&#9426; Copyright 2017 Emerger Health Consulting, LLC</p>
  </div>
</footer>

