authorize {
  display: block;
  height: 100%;
}

#authorize {
  background-size: cover;
  height: 100%;
  background: url(/assets/images/backgrounds/march.jpg) no-repeat
}

#authorize #authorize-form-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding: 32px
}

#authorize #authorize-form-wrapper #authorize-form {
  width: 384px;
  max-width: 384px;
  padding: 32px;
  background: #FFF;
  text-align: center
}


@media screen and (max-width: 768px) {
  #authorize #authorize-form-wrapper {
    padding: 16px
  }
  #authorize #authorize-form-wrapper #authorize-form {
    padding: 24px;
    width: 100%
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  #authorize #authorize-form-wrapper {
    padding: 0
  }
}
