.fill-remaining-space {
  flex: 1 1 auto;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.m-none {
  margin: 0 !important;
}

.m-r-none {
  margin-right: 0 !important;
}

.p-none {
  padding: 0 !important;
}

.text-white {
  color: #fff !important;
}

.flex-important {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  box-sizing: border-box;
}

.flex-grow {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  box-sizing: border-box;
}

.flex-initial {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  box-sizing: border-box;
}

.flex-auto {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  box-sizing: border-box;
}

.flex-none {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  box-sizing: border-box;
}

.flex-noshrink {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  box-sizing: border-box;
}

.flex-nogrow {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  box-sizing: border-box;
}

.flex-0 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
  max-width: 0%;
  max-height: 100%;
  box-sizing: border-box;
}

.divider-with-text {
  position: relative;
  z-index: 1;

  &:before {
    border-top: 1px solid #dfdfdf;
    content: "";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
  }

  span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    background: #fff;
    padding: 0 15px;
  }
}

.warning-text {
  color: #ff6358;
}

.p-12 {
  padding: 12px;
}

// xs
@media (max-width: 599px) {
  .p-none-xs {
    padding: 0 !important;
  }

  .ph-0-xs {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

[hidden] {
  visibility: hidden !important;
}
