<kendo-grid
  [data]="view"
  [pageSize]="gridState.take"
  [skip]="gridState.skip"
  [sort]="gridState.sort"
  [pageable]="true"
  [sortable]="false"
  (dataStateChange)="onStateChange($event)">
  <kendo-grid-toolbar>
    <div layout="row" layout-align="space-between start">
      <div class="flex">
        <button kendoButton [primary]="true" (click)="addHandler()">
          <md-icon><i class="material-icons">add</i></md-icon>
          CREATE NEW BROADCAST PROGRAM
        </button>
      </div>
      <div class="input-search-wrapper">
        <i class="material-icons">search</i>
        <input id="search-staged" type="text" [formControl]="searchText"
               class="w-full">
      </div>
    </div>
  </kendo-grid-toolbar>
  <!--<kendo-grid-column field="id" title="ID" width="50" [sortable]="true">-->
  <!--<ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">-->
  <!--<a href="javascript:void(0)">{{dataItem.id}}</a>-->
  <!--</ng-template>-->
  <!--</kendo-grid-column>-->

  <kendo-grid-column field="name" title="Name" [sortable]="true"></kendo-grid-column>
  <!--<kendo-grid-column field="type" title="Type" [sortable]="false"></kendo-grid-column>-->
  <kendo-grid-column title="Short Code" [sortable]="false">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <i class="material-icons light-blue-fg" *ngIf="dataItem.code_id && dataItem.code_id.length">check</i>
      <i class="material-icons red-fg"
         *ngIf="!dataItem.code_id || (dataItem.code_id && !dataItem.code_id.length)">close</i>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column title="Conversation" [sortable]="false">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <i class="material-icons light-blue-fg" *ngIf="dataItem.content">check</i>
      <i class="material-icons red-fg" *ngIf="!dataItem.content">close</i>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column title="Enabled" [sortable]="false">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <i class="material-icons light-blue-fg" *ngIf="dataItem.schedule?.enabled">check</i>
      <i class="material-icons red-fg" *ngIf="!dataItem.schedule?.enabled">close</i>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-command-column title="Command" width="150">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <button class="md-icon-button md-button" md-tooltip="EDIT" (click)="editHandler(dataItem)">
        <md-icon><i class="material-icons">mode_edit</i></md-icon>
      </button>

      <button class="md-icon-button md-button" md-tooltip="DELETE" (click)="removeHandler(dataItem)">
        <md-icon><i class="material-icons">delete</i></md-icon>
      </button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>
