<div class="ph-16 pv-16 border-bottom md-primary-bg" layout="row" layout-align="space-between center">
  <div class="h3">{{currentProgram ? 'EDIT' : 'NEW'}} OPT-IN PROGRAM {{currentProgram?.name}}</div>
</div>

<form [formGroup]="frm"
      (ngSubmit)="onSave(frm.value)"
      name="opt-in-programs-frm"
      class="p-24"
      novalidate="">

  <md-input-container class="md-block" md-no-float>
    <input mdInput required
           formControlName="name"
           id="name"
           type="text"
           placeholder="Name">
    <md-hint *ngIf="formErrors.name" [ngStyle]="{'color': 'red'}"> {{formErrors.name}}</md-hint>
  </md-input-container>

  <div>
    <md-select placeholder="Type" formControlName="optInType" class="w-full" required="">
      <md-option value="KEYWORD" selected="true">
        KEYWORD
      </md-option>
      <md-option value="WEBSTORM+">
        WEBSTORM
      </md-option>
    </md-select>
  </div>


  <div class="ms-widget ph-0">
    <div class="white-bg ms-widget-front">

      <div class="ph-16 pv-16 border-bottom md-primary-bg">
        <div class="h3">Subscriber List
          <md-icon *ngIf="currentSubscriberList?.remote"><i class="material-icons">cloud</i></md-icon>
          : <span><b>{{currentSubscriberList?.name}}</b></span></div>
      </div>

      <div class="ph-16" *ngIf="currentSubscriberList?.remote">
        <md-input-container class="md-block" md-no-float>
        <textarea mdInput required
                  type="text"
                  placeholder="Sql Insert Statement"
                  formControlName="sqlInsert"
                  #content></textarea>
        </md-input-container>

        <md-input-container class="md-block" md-no-float>
        <textarea mdInput required
                  type="text"
                  placeholder="Sql Select Statement"
                  formControlName="sqlSelect"
                  #content></textarea>
        </md-input-container>
      </div>
    </div>
  </div>

  <div class="ms-widget ph-0" flex="49">
    <div class="white-bg ms-widget-front">

      <div class="ph-16 pv-16 border-bottom md-primary-bg" layout="row" layout-align="space-between center">
        <div class="h3">Short Code\Keywords</div>

        <a class="k-button k-primary" href="javascript:void(0)" (click)="manageKeyword()">Manage</a>
      </div>

      <div layout="row" layout-align="center center">
        <dual-box class="p-12" flex
                  [leftTitle]="'Registered'"
                  [rightTitle]="'Selected'"
                  [source]="keywords"
                  formControlName="keywords"
                  (onChange)="updateSelectedList($event)">
          <ng-template let-item="item">
            {{item.campaign ? item.campaign + '/' + item.keyword : item.keyword}}
          </ng-template>
        </dual-box>
      </div>
    </div>
  </div>

  <div class="ms-widget ph-0" flex="49">
    <div class="white-bg ms-widget-front">

      <div class="ph-16 pv-16 border-bottom md-primary-bg" layout="row" layout-align="space-between center">
        <div class="h3">Conversation</div>

        <a class="k-button k-primary" disabled>Add Message+</a>
      </div>

      <div layout="row" layout-align="center center">
        <div class="iphone-bg mv-20">
          <div id="chat-app">
            <div id="chat-content">
              <div class="chat-scrollable">
                <div layout="row" *ngIf="keywordSelected.length"
                     class="pv-10 ph-5 message-row user">
                  <img class="avatar"
                       src="assets/images/avatars/profile.jpg">
                  <div class="bubble">
                    <div *ngFor="let keyword of keywordSelected">
                      {{keyword.campaign ? keyword.campaign + '/' + keyword.keyword : keyword.keyword}}
                    </div>
                  </div>
                </div>

                <div class="pv-10 ph-5 message-row" layout="row" layout-align="center end">
                  <i class="fa fa-comment avatar bubble-icon" aria-hidden="true"></i>
                  <div class="bubble">
                    <div class="message">

                      <md-input-container class="md-block" md-no-float class="mt-0 w-full">
                      <textarea mdInput
                                required
                                mdTextareaAutosize
                                #autosize="mdTextareaAutosize"
                                #contentControl
                                type="text"
                                placeholder="Start typing your message..."
                                formControlName="content"></textarea>
                        <md-hint align="end" *ngIf="contentControl.value.length<=160" [ngStyle]="{'color': 'red'}">{{160
                          -
                          contentControl.value.length}} characters left
                        </md-hint>
                        <md-hint align="end" *ngIf="contentControl.value.length >160" [ngStyle]="{'color': 'red'}">
                          This content will be sent in {{Math.ceil(contentControl.value.length / 160)}} messages
                        </md-hint>
                      </md-input-container>
                      <div class="font-size-10 secondary-text">Recommended Text:</div>
                      <p class="mv-5 font-size-12">Reply STOP to quit, HELP for info.Msg&DataRatesMayApply</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div layout="row" layout-align="space-between center">
    <a class="k-button" href="javascript:void(0)"
       (click)="cancel()">Cancel</a>
    <button class="k-button k-primary" type="submit" [disabled]="frm.get('name').invalid || isSubmit">Save</button>
  </div>
</form>
